# Configuration du serveur
PORT=5000
NODE_ENV=test

# Base de données MongoDB
MONGO_URI=mongodb+srv://mbackem500_db_user:admin123@cluster0.kpgikt5.mongodb.net/billetterie_test?retryWrites=true&w=majority

# Clé secrète JWT
JWT_SECRET=ma_cle_secrete_jwt_2024

# Configuration SMTP (Mock local pour les tests)
EMAIL_USER=test@example.com
EMAIL_PASS=secret123